body {
    background: #000;
}

.deck-container .slide {
    background: #000;
}

.wallpaper {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
